.chat-main-input
  = form_for [@group, @message],html: { class: 'js-form' } do |f|
    .chat-main-input__left
      = f.text_field :body, class: 'input_message', placeholder: 'Type a message'
    .chat-main-input__center
      = f.label :image do
        %i.fa.fa-picture-o
          = f.file_field :image
    .chat-main-input__right
      = f.submit '送信', class: 'send-botton'
