.chat
  .chat-side
    .chat-side-user
      .chat-side-user-left
        %h2 #{current_user.name}
      .chat-side-user-right
        = link_to new_group_path do
          %i.fa.fa-edit
        = link_to edit_user_registration_path do
          %i.fa.fa-cog
    .chat-side-group
      = render partial: 'group', collection: @groups
  .chat-main
    .chat-main-group
      .chat-main-group-left
        %p.chat-main-group-left__name
          = @group.name
        %p.chat-main-group-left__member
          - @group.users.each do |user|
            = user.name
      .chat-main-group-right
        = link_to 'Edit' , edit_group_path(@group), class: 'chat-main-group-right__edit'
    %hr
    .chat-main-message
      = render partial: 'message', collection: @messages
    = render partial: 'form'
